<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HAMS"
        tools:targetApi="31" >
        <activity
            android:name=".SpecialtyAdapter"
            android:exported="false" />
        <activity
            android:name=".SearchAppointment"
            android:exported="false" />
        <activity
            android:name=".AppointmentClicked"
            android:exported="false" />
        <activity
            android:name=".doctor.AppointmentsDoctor"
            android:exported="false" />
        <activity
            android:name=".admin.RejectedAccounts"
            android:exported="false" />
        <activity
            android:name=".admin.AcceptedAccounts"
            android:exported="false" />
        <activity
            android:name=".admin.PendingAccounts"
            android:exported="false" />
        <activity
            android:name=".admin.LoggedInAdmin"
            android:exported="false" />
        <activity
            android:name=".patient.LoggedInPatient"
            android:exported="false" />
        <activity
            android:name=".doctor.LoggedInDoctor"
            android:exported="false" />
        <activity
            android:name=".register.RegisterPatient"
            android:exported="false" />
        <activity
            android:name=".register.RegisterDoctor"
            android:exported="false" />
        <activity
            android:name=".register.ChooseType"
            android:exported="false" />
        <activity
            android:name=".doctor.ShiftsDoctor"
            android:exported="false" />
        <activity
            android:name=".ShiftClicked"
            android:exported="false" />
        <activity
            android:name=".doctor.AddShift"
            android:exported="false" />
        <activity
            android:name=".LoginMenu"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>